{
"timePeriods": [{"startMins":480,"endMins":660},{"startMins":840,"endMins":1080},{"startMins":1290,"endMins":1380}],
"ledEnabled": true,
"lowVoltageCutoffEnabled": true,
"batteryLevelCheckEnabled": true,
"sampleRate": 32000,
"gain": 2,
"recordDuration": 300,
"sleepDuration": 300,
"localTime": true,
"firstRecordingDateEnabled": false,
"lastRecordingDateEnabled": false,
"dutyEnabled": true,
"passFiltersEnabled": false,
"filterType": "none",
"lowerFilter": 0,
"higherFilter": 0,
"amplitudeThresholdingEnabled": false,
"amplitudeThreshold": 0.001,
"minimumAmplitudeThresholdDuration": 0,
"frequencyTriggerEnabled": false,
"frequencyTriggerWindowLength": 64,
"frequencyTriggerCentreFrequency": 8000,
"minimumFrequencyTriggerDuration": 0,
"frequencyTriggerThreshold": 0.001,
"requireAcousticConfig": false,
"dailyFolders": true,
"displayVoltageRange": true,
"amplitudeThresholdScale": "percentage",
"version": "1.11.1",
"energySaverModeEnabled": false,
"disable48DCFilter": false,
"lowGainRangeEnabled": false,
"timeSettingFromGPSEnabled": false,
"magneticSwitchEnabled": false,
"sunScheduleEnabled": false
}